<div class='p-5'>
  <h3> SO - <%= I18n.t('list') %></h3>
  <hr/>
  <a href='/admin/so/new'><button class='btn btn-outline-success'>+</button></a>
  <%=
    render 'layouts/table',
    data: @so,
    columns: ['id', 'name', 'semester_name'],
    action: ['show', 'delete'],
    link: 'admin/so'
  %>