<%
  min = min || 0
  max = max || 10
%>
<div class="field form-group mt-2">
  <label><%=I18n.t("#{label}")%><span class="text-danger">*</span></label>
  <input type='number' class='form-control' step="0.01" name='<%= name %>' min='<%= min %>' max='<%= max %>' >
</div>