<div class='m-2'>
  <form method='GET' >
    <div class=row>
      <div class='col-11'>
        <input type='text' class='form-control' name='search' >
      </div>
      <button type='submit' class='col-1 btn btn-success'><%=I18n.t('search')%></button>
    </div>
  </form>
</div>