<div class='p-5'>
  <h3><%= I18n.t('user.users') %> > <%= I18n.t('list') %></h3>
  <hr/>
  <a href='/admin/users/new'><button class='btn btn-outline-success'>+</button></a>

  <%= render 'layouts/table',
      data: @users,
      columns: ['id', 'full_name', 'email', 'phone', 'role'],
      action: ['show', 'edit', 'delete'],
      link: 'admin/users'
  %>
  <div class="pagination d-flex justify-content-center">
    <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>