<nav class="navbar navbar-light bg-primary text-white">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"><h1>Abet IUH</h1></a>
    <div class="d-flex">
      <% if user_signed_in? %>
        <a href='/users/sign_out' data-method="DELETE"><button class="btn btn-outline-light"><%=I18n.t('logout')%></button></a>
      <% end %>
    </div>
  </div>
</nav>